.modal_inner {
  display: contents;
}

.modal_sell__items {
  overflow-y: auto;
  flex-grow: 9000;
  order: 1;
}

.modal_sell__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #181818;
  align-items: center;
  order: 4;

  @media (min-width: 769px) {
    flex-direction: row;
    padding: 10px;
  }
}

.modal_sell__buttons {
  padding: 10px 0;
}

.modal_sell__button {
  margin: 0 10px;
}

.modal_sell__price_modifier {
  padding: 10px;
}

.modal_sell__price_modifier__option {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal_sell__multiply_number {
  padding-left: 10px;
  margin-left: 10px;
}

.modal_sell__offset_number {
  padding-left: 10px;
  margin-left: 10px;
}

.modal_sell__divider {
  border-bottom: 1px solid grey;
  margin: 10px;
  order: 2;

  &:before {
    content: '';
  }
}

.modal_items__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.modal_sell__total {
  display: flex;
  justify-content: end;
  padding: 0 10px;
  order: 3;
}

.modal_items__empty {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal_items__entry_flex {
  display: flex;
}

.modal_items__entry_inline_flex {
  display: inline-flex;
}

.modal_items__entry_ellipsized {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modal_items__entry_price {
  margin-left: 1em;
  margin-right: 1em;
}
