.modal_inner {
  display: contents;
}

.modal_sell__items {
  overflow-y: auto;
  flex-grow: 9000;
}

.modal_sell__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #181818;
  align-items: center;

  @media (min-width: 560px) {
    flex-direction: row;
    padding: 10px;
  }
}

.modal_sell__buttons {
  padding: 10px 0;
}

.modal_sell__button {
  margin: 0 10px;
}

.modal_sell__price_modifier {
  padding: 10px;
}

.modal_sell__multiply_number {
  padding-left: 10px;
  margin-left: 10px;
}

.modal_sell__divider {
  border-bottom: 1px solid grey;
  margin: 10px;

  &:before {
    content: '';
  }
}

.modal_items__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.modal_sell__total {
  display: flex;
  justify-content: end;
  padding: 0 10px;
}

.modal_items__empty {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal_items__entry_flex {
  display: flex;
}

.modal_items__entry_inline_flex {
  display: inline-flex;
}

.modal_items__entry_ellipsized {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
